jobs:
  coverage:
    name: Check code coverages on Node.js ${{ matrix.node }}
    outputs:
      result: ${{ steps.coverage.outputs.result }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node:
          - 20
          - 22
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          cache: 'npm'
          node-version: ${{ matrix.node }}
      - name: Upgrade npm
        run: npm install npm@latest -g
      - name: Setup modules
        run: npm ci
      - id: coverage
        name: Test
        run: npm test
      - if: ${{ always() }}
        name: Archive code coverage report
        uses: actions/upload-artifact@v6
        with:
          name: code-coverage-report-${{ github.event.repository.name }}-${{ matrix.node }}
          path: coverage
name: Coverage
on:
  push:
    branches:
      - main
    tags-ignore:
      - '**'
